body {
    background-image: url(https://i.imgur.com/2Q32AEy.jpg);   
}

#title {
    color: white;
    font-size: 50px;
    display: grid;
    place-items: center;
}

#game-screen {
    background-image: url(https://i.imgur.com/1Is6J7W.jpg);
    background-size: 500px;
    background-repeat: no-repeat;
    width: 500px;
    height: 700px;
    display: grid;
    place-items: center;
    margin: auto;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    'image image image'
    'timer image counter'
    'question question question'
    'answer answer answer answer'
    
    ;
}

#timer {
    grid-area: 'timer';
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background: #7ADAF6 repeat 5px 50%;
    border-bottom: 1px solid #4F8EA1;
    transition: all .3s ease-out;
    margin: 

}