body {
    margin: 30px;
    display: grid;
    place-items: center;
}

#start {
    font-size: 60px;
    place-items: center;
    visibility: visible;
    transform: translate(0%, 250%) ;
}


#game-screen {
    background: lightgrey;
    visibility: hidden;
    width: 400px;
    height: 600px;
    margin: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    place-items: center;
}

#question-box {
    margin: 40px;
    display: grid;
}

#restart {
    visibility: hidden;
}

